*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  }

@media (min-width: 600px) {}

.Trips{
  display: grid;  
  grid-auto-rows: auto auto auto auto;
  }
.Trips{
  display: inline-block;
  }


body{
    font-family: montserrat,;
    margin: 0 auto;
    }
header{
  background-color: #add8e6;
  align-items: top;
  align-items: left;
  min-height: 400px;
  min-width: 300px;

}

.header_seperator{
  background-color: #d3d3d3;
  min-height:30px;
  width: 100vw;
}


.navbar{
    display: flex;
    text-align: center;
    list-style: none;
    }
.navbar  li{
    padding: 10px;
    }

.navbar  a{
    text-align: center;
    color: black;
    text-decoration: none;
    }
.navbar  a:hover{
    color: #ffa500;
    }

    .paragraph{
    margin: 30px 0;
    padding-left: 10px;
    width: 50%;
    }
.paragraph h1{
    margin-bottom: 15px;
    }
.paragraph p{
    line-height: 1.5;
    }
.Trips{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
    display: inline-block;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px
    }

.Trips img{
    object-fit: cover;
    max-height:420px;  
    max-width:290px;
    display: inline-block
    }
.Trips h2{
    margin: 30px 0 15px;
    }
.Trips a{
    color: black;
    text-decoration: none;
    }
.Trips p{
    line-height: 1.5;
    }
.original{
    color: gray;
    text-transform: uppercase;
    }
.current span{
    font-weight: bold;
    text-decoration: underline;
    }
.Discount{
    color: green;
    }

.center{
    text-align: center;
    list-style-position: inside;
    }
.Agent{
  font-family: montserrat;
  text-align: left;
}

.myfooter{
  color: white;
  text-align: left;
	padding: 5;
	margin: 0 auto;
	background-color: black;
}